header {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;

  &#masthead {
    height: 100px;
    padding: 20px 0;

    &.is-home {
      background-color: red;
    }

    &.is-static {
      position: static;
    }

    &.is-fixed {
      position: fixed;
    }

    &:not(.is-home) {
      background-image: $gradient-pink-light;
      background-color: $transparent;
      border-bottom: 1px solid $redly;
    }
  }
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}
